In [1]:
# importation des librairies
import pandas as pd
import datetime
from sklearn.preprocessing import OneHotEncoder

In [2]:
# importation des données
df  = pd.read_csv("Voitures.csv",sep=',')
df_voitures = df.copy()
df_voitures.head()

      matricule    marque date_circulation  kilometrage  cylindre couleur
0   125 TN 2548      jeep        2/10/1999            1         3    Noir
1   265 TN 8954       kia        3/25/2001            2         4    Noir
2   214 TN 1458  mercedes        11/3/2002            3         8   Blanc
3   213 TN 1236      audi         5/3/1995            4         7    Gris
4  147 TN 4875        BMW         7/4/1996            5         4   Blanc

In [3]:
# suppression de colonne matricule
df_voitures = df_voitures.drop(columns=['matricule'], axis=1)
df_voitures.head()

     marque date_circulation  kilometrage  cylindre couleur
0      jeep        2/10/1999            1         3    Noir
1       kia        3/25/2001            2         4    Noir
2  mercedes        11/3/2002            3         8   Blanc
3      audi         5/3/1995            4         7    Gris
4       BMW         7/4/1996            5         4   Blanc

In [4]:
# transformation de la colonne date_circulation en age
df_voitures['date_circulation'] = pd.to_datetime(df_voitures['date_circulation'])
df_voitures
df_voitures['age'] = datetime.datetime.now().year - df_voitures['date_circulation'].dt.year
df_voitures

         marque date_circulation  kilometrage  cylindre couleur  age
0          jeep       1999-02-10            1         3    Noir   24
1           kia       2001-03-25            2         4    Noir   22
2      mercedes       2002-11-03            3         8   Blanc   21
3          audi       1995-05-03            4         7    Gris   28
4           BMW       1996-07-04            5         4   Blanc   27
5          ford       2005-02-01            6         4   Rouge   18
6        nissan       2000-05-01            7         2    Noir   23
7          opel       2020-03-02            8         8    Gris    3
8         tesla       2021-04-14            9         6    Gris    2
9        peugot       1997-09-15           10         1    Bleu   26
10       toyota       1888-02-19           11         8   Rouge  135
11  range rover       2022-02-18           12         7    Noir    1
12       suzuki       1997-10-16           13         5   Blanc   26
13  mini couper       1995-06-01           14         3   Rouge   28
14     fiat 500       1999-05-07           15         2    Bleu   24
15         ford       2000-01-01           16         1    Noir   23

In [5]:
# suppression de la colonne date_circulation
df_voitures = df_voitures.drop(columns=['date_circulation'], axis=1)
df_voitures

         marque  kilometrage  cylindre couleur  age
0          jeep            1         3    Noir   24
1           kia            2         4    Noir   22
2      mercedes            3         8   Blanc   21
3          audi            4         7    Gris   28
4           BMW            5         4   Blanc   27
5          ford            6         4   Rouge   18
6        nissan            7         2    Noir   23
7          opel            8         8    Gris    3
8         tesla            9         6    Gris    2
9        peugot           10         1    Bleu   26
10       toyota           11         8   Rouge  135
11  range rover           12         7    Noir    1
12       suzuki           13         5   Blanc   26
13  mini couper           14         3   Rouge   28
14     fiat 500           15         2    Bleu   24
15         ford           16         1    Noir   23

In [6]:
# transformation de la colonne marque en one hot encoding
OHE = OneHotEncoder()
transformed = OHE.fit_transform(df_voitures[['marque']])
df_voitures.drop(columns = ['marque'],inplace=True)
df_voitures[OHE.categories_[0]] = transformed.toarray()
df_voitures

,kilometrage,cylindre,couleur,age,BMW,audi,fiat 500,ford,jeep,kia,mercedes,mini couper,nissan,opel,peugot,range rover,suzuki,tesla,toyota
0,1,3,Noir,24,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,4,Noir,22,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,8,Blanc,21,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,7,Gris,28,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,4,Blanc,27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,4,Rouge,18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,2,Noir,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,8,Gris,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,9,6,Gris,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,10,1,Bleu,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,11,8,Rouge,135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,12,7,Noir,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12,13,5,Blanc,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,14,3,Rouge,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,15,2,Bleu,24,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,16,1,Noir,23,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# transformation de la colonne couleur en one hot encoding
OHE = OneHotEncoder()
transformed = OHE.fit_transform(df_voitures[['couleur']])
df_voitures.drop(columns = ['couleur'],inplace=True)
df_voitures[OHE.categories_[0]] = transformed.toarray()
df_voitures

,kilometrage,cylindre,age,BMW,audi,fiat 500,ford,jeep,kia,mercedes,...,peugot,range rover,suzuki,tesla,toyota,Blanc,Bleu,Gris,Noir,Rouge
0,1,3,24,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,4,22,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,8,21,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,7,28,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,4,27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,6,4,18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,7,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,8,8,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,9,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9,10,1,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,11,8,135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
11,12,7,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,13,5,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,14,3,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,15,2,24,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,16,1,23,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
#Normaliser les données
from sklearn.preprocessing import  StandardScaler
ss=StandardScaler()
ss.fit(df_voitures)
X_ss=ss.transform(df_voitures)
X_ss

array([[-1.62697843e+00, -6.44852694e-01, -1.00251968e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01,  3.87298335e+00, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
         1.48323970e+00, -4.80384461e-01],
       [-1.41004798e+00, -2.32146970e-01, -1.68508627e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01,  3.87298335e+00,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
         1.48323970e+00, -4.80384461e-01],
       [-1.19311752e+00,  1.41867593e+00, -2.02636956e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
         3.87298335e+00, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         2.08166600e+00, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01, -4.80384461e-01],
       [-9.76187060e-01,  1.00597020e+00,  3.62613500e-02,
        -2.58198890e-01,  3.87298335e+00, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01,  2.08166600e+00,
        -6.74199862e-01, -4.80384461e-01],
       [-7.59256602e-01, -2.32146970e-01,  2.13302059e-03,
         3.87298335e+00, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         2.08166600e+00, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01, -4.80384461e-01],
       [-5.42326145e-01, -2.32146970e-01, -3.05021944e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         2.64575131e+00, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01,  2.08166600e+00],
       [-3.25395687e-01, -1.05755842e+00, -1.34380297e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01,  3.87298335e+00,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
         1.48323970e+00, -4.80384461e-01],
       [-1.08465229e-01,  1.41867593e+00, -8.16946886e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         3.87298335e+00, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01,  2.08166600e+00,
        -6.74199862e-01, -4.80384461e-01],
       [ 1.08465229e-01,  5.93264478e-01, -8.51075215e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01,  3.87298335e+00, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01,  2.08166600e+00,
        -6.74199862e-01, -4.80384461e-01],
       [ 3.25395687e-01, -1.47026414e+00, -3.19953088e-02,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01,  3.87298335e+00, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01,  2.64575131e+00, -4.80384461e-01,
        -6.74199862e-01, -4.80384461e-01],
       [ 5.42326145e-01,  1.41867593e+00,  3.68799260e+00,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01,  3.87298335e+00,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01,  2.08166600e+00],
       [ 7.59256602e-01,  1.00597020e+00, -8.85203544e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01,  3.87298335e+00,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
         1.48323970e+00, -4.80384461e-01],
       [ 9.76187060e-01,  1.80558754e-01, -3.19953088e-02,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         3.87298335e+00, -2.58198890e-01, -2.58198890e-01,
         2.08166600e+00, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01, -4.80384461e-01],
       [ 1.19311752e+00, -6.44852694e-01,  3.62613500e-02,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01,  3.87298335e+00, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
        -6.74199862e-01,  2.08166600e+00],
       [ 1.41004798e+00, -1.05755842e+00, -1.00251968e-01,
        -2.58198890e-01, -2.58198890e-01,  3.87298335e+00,
        -3.77964473e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01,  2.64575131e+00, -4.80384461e-01,
        -6.74199862e-01, -4.80384461e-01],
       [ 1.62697843e+00, -1.47026414e+00, -1.34380297e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
         2.64575131e+00, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -2.58198890e-01, -2.58198890e-01, -2.58198890e-01,
        -4.80384461e-01, -3.77964473e-01, -4.80384461e-01,
         1.48323970e+00, -4.80384461e-01]])

In [9]:
#Reduction des dimensions 
from sklearn.decomposition import  PCA
pca=PCA(n_components=2)
pca.fit(X_ss)
X_pca=pca.transform(X_ss)
X_pca

array([[ 3.41311107e-02, -1.83478860e+00],
       [-1.62760336e-01, -1.67644560e+00],
       [-2.37480474e+00,  2.19400503e-01],
       [-2.64341633e+00, -1.87084886e-03],
       [-9.73906182e-01, -1.05395737e-01],
       [ 7.17304763e-01,  9.72057542e-01],
       [ 9.43641436e-01, -1.65028877e+00],
       [-2.63053023e+00, -2.55593256e-01],
       [-1.94769710e+00, -5.20964699e-01],
       [ 2.85324335e+00, -7.80769664e-01],
       [ 2.21968162e-01,  5.38121160e+00],
       [-9.36642554e-02, -1.16749375e+00],
       [-4.40562597e-01,  4.98763410e-01],
       [ 1.52067407e+00,  2.05761010e+00],
       [ 3.07111247e+00, -3.82385056e-01],
       [ 1.90526642e+00, -7.53047184e-01]])